body{
    width:100%;
    background-color: rgb(255, 255, 255);
}

.categories-grid {
    display: grid;
    grid-template: 10em / auto auto auto;
    grid-gap: 1em;
    padding: 10px;
    text-align: center;
    position: relative;
  }
  
  .categories-grid > a {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
  }