.iWantToItem {
    padding: 1em;
    margin-bottom: 2em;
    margin-right: 2em;
    width: auto;
}


.linkStyle{
    text-decoration: none;
    border-radius: 0.5em;
    color: black;
    
    padding: 1em;
    flex-wrap: wrap;
    text-align: center;
    background-color: greenyellow;
    
    width: auto;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.linkStyle:hover {
    color: white;
    background-color: green;
}



