.policyContainer{
    width: 100%;
}

.checkbox{
    -webkit-transform: scale(1.5);
    display: inline;
    margin-right: 1em;
}


.pc-name{
    font-size: 1.4em;
    font-weight: 500;
}

.pc-description{
    display: block;
    font-size: 1.1em;
    margin-bottom: 2em;
    flex-wrap: wrap;
    margin-left: 2em;
}